
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Raleway:wght@300;400;700&family=Roboto:wght@300;400;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    font-family: 'Roboto', sans-serif; /*Todos los elementos heredan la fuente*/
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-weight: 1.8rem;
}

                                        /*?NAVEGACION*/
.estudiante{ /*titulo span*/
    font-size: .8rem;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.nav{ /*?menu navegacion*/
    background: #293241;
    height: 8rem;
    color: #fff;
    margin-bottom: 1rem; /*separar el perfil del menu nav*/
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */
    z-index: 99;
}

.porfa{
    margin-top: 9rem;
}
.nav__container{ /*?Contenedor*/
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{ /*?H1*/
    font-size: 1.2em;
    font-weight: 900;
    margin-left: 1rem;
}
@media (min-width:700px) { /*mq dellogo*/
    .nav__logo{
        margin-right:10rem ;
        font-size: 1.5em;
    }
}
.nav__menu{ /*?Enlaces*/
    display: grid;
    grid-auto-flow: column; /*?columna*/
    gap: 3em; /*?Espaciador*/
}
.nav__item{ /*?Links del menu (a)*/
    color: #fff;
    text-decoration: none;
    /*--clippy: polygon Es una varible o custom property*/
    --clippy: polygon(0 1%, 0 0, 0 100%, 0% 100%); /** 2)Luego vamos a nav_item::break-after: ;*/

}
.nav__input:checked + .nav__menu{ /*?Cuando se hace click cambia de color*/
    background: tomato;
}


.nav__label, .nav__input{ /*?Nav inputl es el checkbox*/
    display: none; 
}

                                        /*?Efecto CSS de navegacion*/
.nav__item::after{
    content: "";  /*contenido vacio*/
    display: block;
    background: #fff;
    width: 90%;
    margin-top: .3rem;
    height: .3rem; /*importante el hight*/
    clip-path: var(--clippy); /** 3)Ponemos la variable en esta propiedad*/
    transition: clip-path .3s; /** 6) Transicion    */


}
/** 1)Ponemos clippy en nav__item*/

/** 4)Ponemos el valor restablecido de la pagina*/
.nav__item:hover{
    --clippy: polygon(0 1%, 100% 0, 100% 100%, 0 100%); /** 5) ahora tendra estos valores*/

}

                                        /*?Media Queri Navegacion*/

@media (max-width:700px) {
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position: fixed;
        top:8rem;
        bottom: 0;
        background: #f08080;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        /**Circulo menu animacion*/
        clip-path: circle(0 at center); /** Ponemos otro clip path para la animacion del menu en mq*/
        transition: clip-path 1s ease-in-out; /**añade la transicion del circulo*/
        z-index: 99;

    }
    .nav__input:checked + .nav__menu{ /** Cuando se hace click cambia de color*/
        clip-path: circle(100% at center);
    }
}
                                    /**Explicacion de la animacion de menu*/
/*Primero debemos de tener un label y que adentro tenga la imagen y que el label referencie al input por
medio del atributo for se debe de poner exactamente el mismo nombre que tiene el id en este caso es el
menu , una vez que se de click a ese elemento se activara la psudoclase check que es cuando el input
checkbox esta activo o tiene la palomita y una vez que pase eso se usara el selector de hermano adyacente
se dice asi porque selecciona al hermano que esta exactamente al lado del elemento seleccionado en este
caso selecciona el hermano adyacente de input que ese hermano es el nav__menu y de esa manera logramos que
cuando el elemento nav__input esta checkeado su hermano nav__menu cambie*/
                                

                                            /**Perfil*/
.foto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}



.contenedor{
    width: 20rem;
    margin: 0 auto;

}
@media (min-width:700px) {
    .contenedor{
    width: 60rem;
    margin: 0 auto;
}
    
}
.sombra{
    -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
    box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68); 
    background-color: #fff; 
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}


@media (min-width:700px) { /*mq de servicios grid*/
    .servicios{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    }
}

.h2p{   
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    color: rgb(219, 38, 92);
}
.h3p{
    font-size: 1rem;
    text-align: center;
    color: rgb(221, 22, 82);
    margin-bottom: .8rem;
}
.pp{
    text-align: center;
    margin-bottom: 2rem;
}

.foto2{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: .5rem;
    transform: scaleX(-1);
}

@media (min-width:700px) {
    .foto2{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: .5rem;
    transform: scale(1);    
}
}

/*?Boton CV*/
.boton{
    background-color: #7faff7;
    color:#fff;
    padding: .5rem .5rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;

    display: block;
    margin-left: auto;
    margin-right: auto; 

}
@media (min-width:700px) {
    .boton{
        width:50%;
    }
} 



                                                /*?Experiencia*/
.wave1 {
    position:inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.wave2{
    position:inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}



.h2-exp{  
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    color: rgb(239, 241, 243);
    margin-bottom: 1rem;
}

@media (max-width:700px) {
    .exp-p{
        margin-bottom:1rem;    
    } 
}

.exp-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}

@media (min-width:700px) { /*mq de servicios grid*/
    .exp-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
}

.fondo-exp{
    background-color: rgb(185, 212, 236);
}

.fondo-exp h4{
    font-weight: 400;
    margin-bottom: 1rem;
}

.exp-p ,.exp-p1{
    color: rgb(8, 158, 228);
    font-weight: 600;
    font-size: 1rem;
}


.flecha{
    margin: 10px auto;
    display: block;
    padding-right: 0;
    padding-top: 0rem;
    width: 0;
}

@media (min-width:700px) {
    .flecha{
    margin: 10px auto;
    display: block;
    width: 4rem;
    }
}



@media (min-width:700px) {
    .exp-medio{
        margin-right:0;
    }
}

.contenedor3{
    width: 15rem;
    margin: 0 auto;

}
@media (min-width:700px) {
    .contenedor3{
    width: 20rem;
    margin: 0 auto;
}
    
}
.sombra3{
    -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
    box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68); 
    background-color: #fff; 
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

                                    /*?Habilidades*/


.contenedor2{
    width: 20rem;
    margin: 0 auto;

}
@media (min-width:700px) {
    .contenedor2{
    width: 60rem;
    margin: 0 auto;
}
    
}
.sombra2{
    -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
    box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68); 
    background-color: #fff; 
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.h2p-2{
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    color: rgb(140, 191, 236);
}

/*?botones habilidades*/
.btn{
    padding: 2.5rem 7rem;
    background: rgb(185, 212, 236);
    border:0.1rem solid rgb(185, 212, 236);
    cursor: pointer;
    position: relative;
    border-radius: .3rem;
    overflow: hidden;
    margin-top: 2rem;

}
.btn::before{
    content: 'CSS';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .2s ease;

}

.btn::after{
    content:"Html";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .2s ease;
    opacity: 0;
}
.btn:hover::before{
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
}

.btn:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

/*bOTON2*/
.btn2{
    padding: 2.5rem 7rem;
    background: rgb(185, 212, 236);
    border:0.1rem solid rgb(185, 212, 236);
    cursor: pointer;
    position: relative;
    border-radius: .3rem;
    overflow: hidden;
    margin-top: 2rem;

}
.btn2::before{
    content: 'python';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .2s ease;
}

.btn2::after{
    content:"java script";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .2s ease;
    opacity: 0;
}
.btn2:hover::before{
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
}

.btn2:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

/*Boton3*/
.btn3{
    padding: 2.5rem 7rem;
    background: rgb(185, 212, 236);
    border:0.1rem solid rgb(185, 212, 236);
    cursor: pointer;
    position: relative;
    border-radius: .3rem;
    overflow: hidden;
    margin-top: 2rem;

}
.btn3::before{
    content: 'php';
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .2s ease;
}

.btn3::after{
    content:"my sql";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .2s ease;
    opacity: 0;
}
.btn3:hover::before{
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
}

.btn3:hover::after{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.botones{
    display: flex;
    flex-direction: column;

}
@media (min-width:700px) {
    .botones{
    margin-top: 1rem;
    display: grid;
    grid-auto-flow:column; /*?columna*/
    gap: 3rem; /*?Espaciador*/
}
}

                                        /*?cursos*/

.h2-cursos{
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    color: rgb(140, 191, 236);
    margin-top: 4rem;
    display: block;
}
.separador-cursos{
        margin-bottom: 4rem;

}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.card{
    background: rgb(205, 224, 241) ;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
    height: 170px;
    margin-bottom: 1.5rem;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1{
    background-image: url(/img/js.jpg);
}
.card-2{
    background-image: url(/img/Python.png);
}
.card-3{
    background-image: url(/img/html.jpg);
}
.card-4{
    background-image: url(/img/css.png);
}

.card h2{
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    color: rgb(182, 202, 168);
}

.card p{
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.card a{
    background-color: rgba(10, 10, 10, 0.479);
    color: white;
    padding: 1rem 1rem;
    display: block;
    text-align: center;
    margin:2rem 5rem;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5rem;
}

.card:hover{
    background-color: rgb(94, 173, 104);
    color:white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
    
}


                                    /*?Formulario*/
.sombra4{
-webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
-moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68); 
background-color: #fff; 
padding: 1rem;
border-radius: 1rem;
margin-bottom: 1rem;
}

.contenedor4{
    width: 95%;
    margin: 0 auto;

}

.formulario {
    font-family: 'Roboto';
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form h2{
    text-align: center;
    font-weight: 700;
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    color: rgb(140, 191, 236);
    margin-top: 4rem;
    display: block;

}

.form{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px ;
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}



input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    /*position: absolute;*/
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    /*pointer-events: none;*/
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}

button{
    font-family: 'roboto';
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}

.contacto-h2{
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(140, 191, 236);
    margin-top: 4rem;
    display: block;
}

.ti-h3{
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    color: rgb(140, 191, 236);
    margin-top: 3rem;
    display: block;
}

.form-p{
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(100, 72, 177);
    margin-top: 1rem;
    display: block;
}

.form-div1{
    margin-top: 2rem;
}




.grid-form{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
@media (min-width:700px) {
    .grid-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
}