.h2-cursos{
    text-align: center;
    font-weight: 800;
    font-size: 5em;
    color: #414c5f;
    margin-top: 4rem;
    display: block;
}
.separador-cursos{
        margin-bottom: 4rem;

}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.card{
    background: rgb(205, 224, 241) ;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
    height: 170px;
    margin-bottom: 1.5rem;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1{
    background-image: url(/img/js.jpg);
}
.card-2{
    background-image: url(/img/Python.png);
}
.card-3{
    background-image: url(/img/html.jpg);
}
.card-4{
    background-image: url(/img/css.png);
}

.card h2{
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    color: #414c5f ;
;
}

.card p{
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.card a{
    background-color: rgba(10, 10, 10, 0.479);
    color: white;
    padding: 1rem 1rem;
    display: block;
    text-align: center;
    margin:2rem 5rem;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5rem;
}

.card:hover{
    background-color: rgb(94, 122, 173);
    color:white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
    
}

         