
                                        /*?EXPERIENCIA*/
.wave1 {
    position:inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.wave2{
    position:inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}



.h2-exp{  
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    color: rgb(239, 241, 243);
    margin-bottom: 1rem;
}

@media (max-width:700px) {
    .exp-p{
        margin-bottom:1rem;    
    } 
}

.exp-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}

@media (min-width:700px) { /*mq de servicios grid*/
    .exp-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
}

.fondo-exp{
    background-color:#414c5f;
}

.fondo-exp h4{
    font-weight: 400;
    margin-bottom: 1rem;
}

.exp-p ,.exp-p1{
    color: rgb(8, 158, 228);
    font-weight: 600;
    font-size: 1rem;
}


.flecha{
    margin: 10px auto;
    display: block;
    padding-right: 0;
    padding-top: 0rem;
    width: 0;
}

@media (min-width:700px) {
    .flecha{
    margin: 10px auto;
    display: block;
    width: 4rem;
    }
}


@media (min-width:700px) {
    .exp-medio{
        margin-right:0;
    }
}
.contenedor3{
    width: 15rem;
    margin: 0 auto;

}
@media (min-width:700px) {
    .contenedor3{
    width: 20rem;
    margin: 0 auto;
}
    
}
.sombra3{
    -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
    box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68); 
    background-color: #fff; 
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

