/*?Reseteo de estilos*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*?NAVEGACION*/

.header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
}

.img__edurvi{
    width: 75px;
    border-radius: 5px;
}
.nav{
    background: #293241;
    height: 80px; /*ancho del menu*/
    color: #fff;
}
.estudiante{
    margin-right: 330px;
}

.nav__logo{
    font-size: 1.3em;
    font-weight: 900;
    display: flex;  
    flex-direction: column;  
    justify-content: space-between;
    align-items: center;
}

.espan{
    font-size: 20px;
}
@media (min-width:700px) {
    .nav__logo{
    font-size: 1.5em;
    font-weight: 900;
    margin-right: 400px;
   }
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
}

.nav__items{ /*enlaces*/
    color: #fff;
    text-decoration: none;
    --clippy:polygon(0 0, 0 0, 0 100%, 0% 100%); /*Una variable que tenga el valor del poligono inicial*/    
}


.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__input:checked + .nav__menu{  /*si nav__input esta checked su hermano na__menu cambia de color*/
    background: tomato;
}

.nav__label, .nav__input{ /*Todavia no los vamos a usar*/
    display: none;
}

/*Efecto con pseudo elemento*/
.nav__items::after{
    content:"";  /*contenedor vacio*/
    display: block; 
    background: #fff;
    width: 90%; /*tamaño*/
    margin-top: 3px;
    height: 2px; /*anchura*/
    
    clip-path: var(--clippy); /*ponemos el clippy aqui*/
    transition: clip-path .3s; /*transicion*/
}

.nav__items:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width:700px) {
    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background: #f08080;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out; 
    }

    .nav__input:checked + .nav__menu{  /*si nav__input esta checked su hermano na__menu cambia de color*/
    clip-path: circle(100% at center);
    }
}


/*?PERFIL*/
                                            /*?Perfil*/

.img2-perfil{
    width: 180px;
    transform: scaleX(-1);
}
@media (min-width:700px) {
    .img2-perfil{
    transform: scaleX(1);
    }  
}

.div-perfil{
    margin-top: 90px;
    display: grid;
    grid-template-columns: 300px ;
    justify-content: center;
}


@media (min-width:700px) {
    .div-perfil{
    margin-top: 90px;
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: space-evenly;
}
  
}

.div-img-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}


.h1-perfil{
    text-align: center;
    margin-bottom: 3px;
    font-size: 40px;
    color: rgb(245, 91, 35);
}

.p-perfil{
    font-weight: 10px;
}

.boton{
    background-color: #7faff7;
    color:#fff;
    padding: .5rem .5rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 50%;
    text-align: center;
    margin-bottom: 2rem;

    display: block;
    margin-left: auto;
    margin-right: auto; 

}
@media (min-width:700px) {
    .boton{
        width:50%;
    }
} 


/*?EXPERIENCIA*/
.wave1 {
    position:inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.wave2{
    position:inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}



.h2-exp{  
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    color: rgb(239, 241, 243);
    margin-bottom: 1rem;
}

@media (max-width:700px) {
    .exp-p{
        margin-bottom:1rem;    
    } 
}

.exp-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}

@media (min-width:700px) { /*mq de servicios grid*/
    .exp-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
}

.fondo-exp{
    background-color:#414c5f;
}

.fondo-exp h4{
    font-weight: 400;
    margin-bottom: 1rem;
}

.exp-p ,.exp-p1{
    color: rgb(8, 158, 228);
    font-weight: 600;
    font-size: 1rem;
}


.flecha{
    margin: 10px auto;
    display: block;
    padding-right: 0;
    padding-top: 0rem;
    width: 0;
}

@media (min-width:700px) {
    .flecha{
    margin: 10px auto;
    display: block;
    width: 4rem;
    }
}


@media (min-width:700px) {
    .exp-medio{
        margin-right:0;
    }
}
.contenedor3{
    width: 15rem;
    margin: 0 auto;

}
@media (min-width:700px) {
    .contenedor3{
    width: 20rem;
    margin: 0 auto;
}
    
}
.sombra3{
    -webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
    box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68); 
    background-color: #fff; 
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

                                            /*?Habilidades*/

.habilidades{
    width: 100vw;
    height: 50vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:700px) {
    .habilidades{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }

}

.h2-habilidades{
    color: rgb(245, 91, 35);
    font-size: 5em;
    text-align: center;
}
@media (max-width:700px) {
    .h2-habilidades{
    color: rgb(245, 91, 35);
    font-size: 4em;
    text-align: center;
}
}


.habilidades button{
    background-color: transparent;
    border: 4px solid;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 10px;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(66, 122, 226);
}

button:focus{
    outline: 0;
}


.btn_1{
    border-color: rgb(143, 165, 136);
    transition: box-shadow 0.5 ease-in-out;
}
.btn_1:hover{
    box-shadow: 0 0 40px 40px  rgb(65, 99, 67) inset;
    color: rgb(238, 235, 235);
}

                                        /*?cursos*/

.h2-cursos{
    text-align: center;
    font-weight: 800;
    font-size: 5em;
    color: #414c5f;
    margin-top: 4rem;
    display: block;
}
.separador-cursos{
        margin-bottom: 4rem;

}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.card{
    background: rgb(205, 224, 241) ;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
    height: 170px;
    margin-bottom: 1.5rem;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1{
    background-image: url(/img/js.jpg);
}
.card-2{
    background-image: url(/img/Python.png);
}
.card-3{
    background-image: url(/img/html.jpg);
}
.card-4{
    background-image: url(/img/css.png);
}

.card h2{
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    color: #414c5f ;
;
}

.card p{
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.card a{
    background-color: rgba(10, 10, 10, 0.479);
    color: white;
    padding: 1rem 1rem;
    display: block;
    text-align: center;
    margin:2rem 5rem;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5rem;
}

.card:hover{
    background-color: rgb(94, 122, 173);
    color:white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
    
}

                        /*?Formularios*/

.grid-form{
    margin-top: 10px;
    display: grid;
    height: 20rem;
    grid-template-columns: 400px 400px;
    justify-content: center;
    align-items: center;
}





.sombra4{
-webkit-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
-moz-box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68);
box-shadow: 0px 5px 17px 0px rgba(0,0,0,0.68); 
background-color: #fff; 
padding: 1rem;
border-radius: 1rem;
margin-bottom: 1rem;
}

.contenedor4{
    width: 80%;
    margin: 0 auto;
}

.form-div1 h2, h3, p{
    margin-bottom: 1rem;
}

.form-container{
    font-weight: 900;
    color: rgb(91, 46, 173);
}